@import '~styles/_variables';
.comment-container{
    background: $light-color;
    padding: 5px 18px;
    margin: 2px 0;
    .comment-details{
        .comment-content{
            display: inline-block;
            margin-left: 5px;
        }
    }
    .timestamp{
        display: inline-flex;
    }
}