@import '~assets/css/fontawesome-all.min.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import './_variables.scss';
body {
    background-color: #e9ebee;
}

textarea {
    border-radius: 2px;
    resize: none;
    &:focus {
        outline: none;
    }
}

.highlight{
    transition: all 1.5s ease;
    cursor: pointer;
    a{
        color: $dark-color !important;
    }
    &:hover{
        text-decoration: underline;
    }
    color: $dark-color !important;
}
.tooltip-link{
    font-size: 13px;
    a{
        color: #fff;
    }
}

a{
    color: $theme-color;
}

.with-dot{
    &::before{
        content: '.';
        color: black;
        margin: 0px 5px;
        display: inline-block;
        position: relative;
        top: -3px;
    }
}