.timeline-container{
    .timeline-post-container{
        margin: 10px;
        .post-rel-header{
            padding: 10px 20px;
            background: #fff;
            border-bottom: none;
            margin-bottom: 3px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .post-container{
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: none;
        }
    }
}