@import '~styles/_variables.scss';
.page-header-container{
    background: $theme-color;
    font-size: 18px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
    color: #fff;
    a{
        color: #fff;
        &:hover{
            color: #fff;
        }
    }
}