@import '~styles/_variables.scss';
.postbox{
    margin-bottom: 10px;
    textarea{
        // border: 1px solid rgba(0,0,0,0.3);
        height: 150px;
        transition: height 0.2s ease;
        padding: 10px 20px;
        &:focus{
            height: 150px;
            & ~ .post-button{
                // height: initial;
                // width: 100%;
                // visibility: visible;
                position: static;
            }
        }
    }
    .post-button{
        // visibility: hidden;
        // position: absolute;
        // top: -100px;
        background: $theme-color;
        border-color: $border-color;
    }
}