@import '~styles/_variables.scss';
.comment-box{
    background: $light-color;
    border: none;
    border-radius: 0;
    margin: 2px 0;
    padding: 10px;
    display: block;
    textarea{
        background: #fff;
        display: inline-block;
        padding: 10px;
        width: calc(100% - 90px);
        border: 1px solid rgba(0,0,0,0.2);
    }
    .comment-button{
        vertical-align: top;
        margin-left: 10px;
        display: inline-block;
        width: 80px;
        font-size: 12px;
        background: $theme-color;
        border:none;
    }
}