@import '~styles/_variables';
.post-container {
    margin: 15px 0;
    border-radius: 4px;
    .card-header{
        background: #fff;
    }
    .content {
        padding: 0;
        .desc{
            font-size: 16px;
            padding: 20px;
        }
        .engage-section{
            margin: 2px;
        }
    }
}