@import '~styles/_variables';
.action-container {
    .stats,
    .action-buttons {
        padding: 5px 18px;
        margin: 2px 0;
        background: $light-color;
        font-size: 13px;
    }
    &.for-comment {
        flex-direction: row-reverse;
        display: inline-flex;
        .stats,
        .action-buttons {
            display: inline-block;
            padding: 0;
            margin: 0;
        }
    }
}